<a href="https://colab.research.google.com/github/saisumanthkorada/PysprkTransformations/blob/main/Transforming_the_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark
!pip install openpyxl

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.11/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.11/dist-packages (from openpyxl) (2.0.0)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from pyspark.sql import SparkSession, functions as F
from pyspark.sql.functions import split, col,length,right,expr,regexp_extract,regexp_replace,trim,explode,first,lit
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType

In [4]:
spark = SparkSession.builder.getOrCreate()

In [5]:
schema = StructType([
    StructField("movieId",IntegerType(),True),
    StructField("title",StringType(),True),
    StructField("generes",StringType(),True)
])
df1 = spark.read.format('csv')\
.option('header',True)\
.schema(schema)\
.load('/content/drive/MyDrive/ml-latest/movies.csv')
df1.show()

+-------+--------------------+--------------------+
|movieId|               title|             generes|
+-------+--------------------+--------------------+
|      1|    Toy Story (1995)|Adventure|Animati...|
|      2|      Jumanji (1995)|Adventure|Childre...|
|      3|Grumpier Old Men ...|      Comedy|Romance|
|      4|Waiting to Exhale...|Comedy|Drama|Romance|
|      5|Father of the Bri...|              Comedy|
|      6|         Heat (1995)|Action|Crime|Thri...|
|      7|      Sabrina (1995)|      Comedy|Romance|
|      8| Tom and Huck (1995)|  Adventure|Children|
|      9| Sudden Death (1995)|              Action|
|     10|    GoldenEye (1995)|Action|Adventure|...|
|     11|American Presiden...|Comedy|Drama|Romance|
|     12|Dracula: Dead and...|       Comedy|Horror|
|     13|        Balto (1995)|Adventure|Animati...|
|     14|        Nixon (1995)|               Drama|
|     15|Cutthroat Island ...|Action|Adventure|...|
|     16|       Casino (1995)|         Crime|Drama|
|     17|Sense and Sensibi...|       Drama|Romance|
|     18|   Four Rooms (1995)|              Comedy|
|     19|Ace Ventura: When...|              Comedy|
|     20|  Money Train (1995)|Action|Comedy|Cri...|
+-------+--------------------+--------------------+
only showing top 20 rows

In [6]:
df1 = df1.withColumn(
  "year",
  regexp_extract(col("title"), r"\((\d{4})\)$", 1)
)
df1=df1.withColumn("title",
    trim(regexp_replace(col("title"), r"\s*\(\d{4}\)$", "")))

In [7]:
df1 = df1.withColumn("genersarray",split(col('generes'), r"\s*\|\s*"))

In [7]:
df1.show()

+-------+--------------------+--------------------+----+--------------------+
|movieId|               title|             generes|year|         genersarray|
+-------+--------------------+--------------------+----+--------------------+
|      1|           Toy Story|Adventure|Animati...|1995|[Adventure, Anima...|
|      2|             Jumanji|Adventure|Childre...|1995|[Adventure, Child...|
|      3|    Grumpier Old Men|      Comedy|Romance|1995|   [Comedy, Romance]|
|      4|   Waiting to Exhale|Comedy|Drama|Romance|1995|[Comedy, Drama, R...|
|      5|Father of the Bri...|              Comedy|1995|            [Comedy]|
|      6|                Heat|Action|Crime|Thri...|1995|[Action, Crime, T...|
|      7|             Sabrina|      Comedy|Romance|1995|   [Comedy, Romance]|
|      8|        Tom and Huck|  Adventure|Children|1995|[Adventure, Child...|
|      9|        Sudden Death|              Action|1995|            [Action]|
|     10|           GoldenEye|Action|Adventure|...|1995|[Action, Adventur...|
|     11|American Presiden...|Comedy|Drama|Romance|1995|[Comedy, Drama, R...|
|     12|Dracula: Dead and...|       Comedy|Horror|1995|    [Comedy, Horror]|
|     13|               Balto|Adventure|Animati...|1995|[Adventure, Anima...|
|     14|               Nixon|               Drama|1995|             [Drama]|
|     15|    Cutthroat Island|Action|Adventure|...|1995|[Action, Adventur...|
|     16|              Casino|         Crime|Drama|1995|      [Crime, Drama]|
|     17|Sense and Sensibi...|       Drama|Romance|1995|    [Drama, Romance]|
|     18|          Four Rooms|              Comedy|1995|            [Comedy]|
|     19|Ace Ventura: When...|              Comedy|1995|            [Comedy]|
|     20|         Money Train|Action|Comedy|Cri...|1995|[Action, Comedy, ...|
+-------+--------------------+--------------------+----+--------------------+
only showing top 20 rows

In [8]:
df_exploded = df1.withColumn("generes",explode("genersarray"))

In [9]:
df_exploded.show()

+-------+--------------------+---------+----+--------------------+
|movieId|               title|  generes|year|         genersarray|
+-------+--------------------+---------+----+--------------------+
|      1|           Toy Story|Adventure|1995|[Adventure, Anima...|
|      1|           Toy Story|Animation|1995|[Adventure, Anima...|
|      1|           Toy Story| Children|1995|[Adventure, Anima...|
|      1|           Toy Story|   Comedy|1995|[Adventure, Anima...|
|      1|           Toy Story|  Fantasy|1995|[Adventure, Anima...|
|      2|             Jumanji|Adventure|1995|[Adventure, Child...|
|      2|             Jumanji| Children|1995|[Adventure, Child...|
|      2|             Jumanji|  Fantasy|1995|[Adventure, Child...|
|      3|    Grumpier Old Men|   Comedy|1995|   [Comedy, Romance]|
|      3|    Grumpier Old Men|  Romance|1995|   [Comedy, Romance]|
|      4|   Waiting to Exhale|   Comedy|1995|[Comedy, Drama, R...|
|      4|   Waiting to Exhale|    Drama|1995|[Comedy, Drama, R...|
|      4|   Waiting to Exhale|  Romance|1995|[Comedy, Drama, R...|
|      5|Father of the Bri...|   Comedy|1995|            [Comedy]|
|      6|                Heat|   Action|1995|[Action, Crime, T...|
|      6|                Heat|    Crime|1995|[Action, Crime, T...|
|      6|                Heat| Thriller|1995|[Action, Crime, T...|
|      7|             Sabrina|   Comedy|1995|   [Comedy, Romance]|
|      7|             Sabrina|  Romance|1995|   [Comedy, Romance]|
|      8|        Tom and Huck|Adventure|1995|[Adventure, Child...|
+-------+--------------------+---------+----+--------------------+
only showing top 20 rows

In [10]:
df_final = df_exploded.groupBy("movieId","title","year").pivot("generes").agg(first(lit("yes")))

In [11]:
l= df_final.columns

In [12]:
for k in l:
  if "(" in k:
    df_final = df_final.drop(k)

In [13]:
df_final = df_final.fillna("no")
df_final.show()

+-------+--------------------+----+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+---+-------+
|movieId|               title|year|Action|Adventure|Animation|Children|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|IMAX|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+-------+--------------------+----+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+---+-------+
|      4|   Waiting to Exhale|1995|    no|       no|       no|      no|   yes|   no|         no|  yes|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|      5|Father of the Bri...|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|      6|                Heat|1995|   yes|       no|       no|      no|    no|  yes|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|     yes| no|     no|
|      8|        Tom and Huck|1995|    no|      yes|       no|     yes|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     12|Dracula: Dead and...|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|   yes|  no|     no|     no|     no|    no|      no| no|     no|
|     13|               Balto|1995|    no|      yes|      yes|     yes|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     15|    Cutthroat Island|1995|   yes|      yes|       no|      no|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     17|Sense and Sensibi...|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     18|          Four Rooms|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     19|Ace Ventura: When...|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     23|           Assassins|1995|   yes|       no|       no|      no|    no|  yes|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|     yes| no|     no|
|     24|              Powder|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|     no|   yes|      no| no|     no|
|     25|   Leaving Las Vegas|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     26|             Othello|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     35|          Carrington|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     36|    Dead Man Walking|1995|    no|       no|       no|      no|    no|  yes|         no|  yes|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     37|Across the Sea of...|1995|    no|       no|       no|      no|    no|   no|        yes|   no|     no|       no|    no| yes|     no|     no|     no|    no|      no| no|     no|
|     39|            Clueless|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     40|Cry, the Beloved ...|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     41|         Richard III|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|     no|    no|      no|yes|     no|
+-------+--------------------+----+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

In [14]:
df_final = df_final.dropDuplicates()

In [15]:
df_final = df_final.orderBy('movieId')

In [16]:
df_final.show()

+-------+--------------------+----+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+---+-------+
|movieId|               title|year|Action|Adventure|Animation|Children|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|IMAX|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western|
+-------+--------------------+----+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+---+-------+
|      1|           Toy Story|1995|    no|      yes|      yes|     yes|   yes|   no|         no|   no|    yes|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|      2|             Jumanji|1995|    no|      yes|       no|     yes|    no|   no|         no|   no|    yes|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|      3|    Grumpier Old Men|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|      4|   Waiting to Exhale|1995|    no|       no|       no|      no|   yes|   no|         no|  yes|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|      5|Father of the Bri...|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|      6|                Heat|1995|   yes|       no|       no|      no|    no|  yes|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|     yes| no|     no|
|      7|             Sabrina|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|      8|        Tom and Huck|1995|    no|      yes|       no|     yes|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|      9|        Sudden Death|1995|   yes|       no|       no|      no|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     10|           GoldenEye|1995|   yes|      yes|       no|      no|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|     yes| no|     no|
|     11|American Presiden...|1995|    no|       no|       no|      no|   yes|   no|         no|  yes|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     12|Dracula: Dead and...|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|   yes|  no|     no|     no|     no|    no|      no| no|     no|
|     13|               Balto|1995|    no|      yes|      yes|     yes|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     14|               Nixon|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     15|    Cutthroat Island|1995|   yes|      yes|       no|      no|    no|   no|         no|   no|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     16|              Casino|1995|    no|       no|       no|      no|    no|  yes|         no|  yes|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     17|Sense and Sensibi...|1995|    no|       no|       no|      no|    no|   no|         no|  yes|     no|       no|    no|  no|     no|     no|    yes|    no|      no| no|     no|
|     18|          Four Rooms|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     19|Ace Ventura: When...|1995|    no|       no|       no|      no|   yes|   no|         no|   no|     no|       no|    no|  no|     no|     no|     no|    no|      no| no|     no|
|     20|         Money Train|1995|   yes|       no|       no|      no|   yes|  yes|         no|  yes|     no|       no|    no|  no|     no|     no|     no|    no|     yes| no|     no|
+-------+--------------------+----+------+---------+---------+--------+------+-----+-----------+-----+-------+---------+------+----+-------+-------+-------+------+--------+---+-------+
only showing top 20 rows

In [ ]:
df_final.write.format('csv').option('header','True').mode('overwrite').save('/content/drive/MyDrive/Silver_Layer/movies_transformed.csv')

In [28]:
schema2 = StructType([StructField("userId",IntegerType(),True),
                      StructField("movieId",IntegerType(),True),
                      StructField("rating",FloatType(),True),
                      StructField("timestamp",IntegerType(),True)])
df2 = spark.read.format('csv')\
.option('header',True)\
.schema(schema2)\
.load('/content/drive/MyDrive/ml-latest/ratings.csv')

In [29]:
df2.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: float (nullable = true)
 |-- timestamp: integer (nullable = true)

In [30]:
df2.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      1|   4.0|1225734739|
|     1|    110|   4.0|1225865086|
|     1|    158|   4.0|1225733503|
|     1|    260|   4.5|1225735204|
|     1|    356|   5.0|1225735119|
|     1|    381|   3.5|1225734105|
|     1|    596|   4.0|1225733524|
|     1|   1036|   5.0|1225735626|
|     1|   1049|   3.0|1225734079|
|     1|   1066|   4.0|1225736961|
|     1|   1196|   3.5|1225735441|
|     1|   1200|   3.5|1225735861|
|     1|   1210|   4.5|1225735210|
|     1|   1214|   4.0|1225736426|
|     1|   1291|   5.0|1225734809|
|     1|   1293|   2.0|1225733842|
|     1|   1376|   3.0|1225733539|
|     1|   1396|   3.0|1225733534|
|     1|   1537|   4.0|1225736687|
|     1|   1909|   3.0|1225733717|
+------+-------+------+----------+
only showing top 20 rows

In [31]:
df2 = df2.withColumn("timestamp",F.from_unixtime("timestamp").cast("timestamp"))

In [32]:
df2 = df2.withColumn("date",F.date_format("timestamp","yyyy-mm-dd"))

In [33]:
df2 = df2.drop("year")

In [34]:
df_ratings = df2

In [38]:
df_ratings.show(20)

+------+-------+------+-------------------+----------+
|userId|movieId|rating|          timestamp|      date|
+------+-------+------+-------------------+----------+
|     1|      1|   4.0|2008-11-03 17:52:19|2008-52-03|
|     1|    110|   4.0|2008-11-05 06:04:46|2008-04-05|
|     1|    158|   4.0|2008-11-03 17:31:43|2008-31-03|
|     1|    260|   4.5|2008-11-03 18:00:04|2008-00-03|
|     1|    356|   5.0|2008-11-03 17:58:39|2008-58-03|
|     1|    381|   3.5|2008-11-03 17:41:45|2008-41-03|
|     1|    596|   4.0|2008-11-03 17:32:04|2008-32-03|
|     1|   1036|   5.0|2008-11-03 18:07:06|2008-07-03|
|     1|   1049|   3.0|2008-11-03 17:41:19|2008-41-03|
|     1|   1066|   4.0|2008-11-03 18:29:21|2008-29-03|
|     1|   1196|   3.5|2008-11-03 18:04:01|2008-04-03|
|     1|   1200|   3.5|2008-11-03 18:11:01|2008-11-03|
|     1|   1210|   4.5|2008-11-03 18:00:10|2008-00-03|
|     1|   1214|   4.0|2008-11-03 18:20:26|2008-20-03|
|     1|   1291|   5.0|2008-11-03 17:53:29|2008-53-03|
|     1|   1293|   2.0|2008-11-03 17:37:22|2008-37-03|
|     1|   1376|   3.0|2008-11-03 17:32:19|2008-32-03|
|     1|   1396|   3.0|2008-11-03 17:32:14|2008-32-03|
|     1|   1537|   4.0|2008-11-03 18:24:47|2008-24-03|
|     1|   1909|   3.0|2008-11-03 17:35:17|2008-35-03|
+------+-------+------+-------------------+----------+
only showing top 20 rows

In [ ]:
df_ratings.write.format('csv').option('header','True').mode('overwrite').save('/content/drive/MyDrive/Silver_Layer/ratings_transformed.csv')

In [5]:
df3 = spark.read.format('csv')\
.option('header',True)\
.schema(schema)\
.load('/content/drive/MyDrive/ml-latest/genome-scores.csv')

In [6]:
df3.show()

+-------+-----+--------------------+
|movieId|title|             generes|
+-------+-----+--------------------+
|      1|    1| 0.03199999999999997|
|      1|    2|0.022249999999999992|
|      1|    3|                0.07|
|      1|    4|               0.059|
|      1|    5|               0.123|
|      1|    6|               0.131|
|      1|    7| 0.06175000000000003|
|      1|    8|              0.1955|
|      1|    9|             0.26625|
|      1|   10|0.032999999999999974|
|      1|   11|               0.568|
|      1|   12|               0.137|
|      1|   13|               0.249|
|      1|   14|0.006500000000000006|
|      1|   15| 0.02174999999999999|
|      1|   16| 0.17975000000000002|
|      1|   17|0.014000000000000012|
|      1|   18| 0.07574999999999998|
|      1|   19|             0.65925|
|      1|   20|              0.3025|
+-------+-----+--------------------+
only showing top 20 rows

In [19]:
df4 = spark.read.format('csv')\
.option('header','True')\
.option('InferSchema','True')\
.load('/content/drive/MyDrive/ml-latest/ratings.csv')

In [20]:
df4.show()

+------+-------+------+----------+
|userId|movieId|rating| timestamp|
+------+-------+------+----------+
|     1|      1|   4.0|1225734739|
|     1|    110|   4.0|1225865086|
|     1|    158|   4.0|1225733503|
|     1|    260|   4.5|1225735204|
|     1|    356|   5.0|1225735119|
|     1|    381|   3.5|1225734105|
|     1|    596|   4.0|1225733524|
|     1|   1036|   5.0|1225735626|
|     1|   1049|   3.0|1225734079|
|     1|   1066|   4.0|1225736961|
|     1|   1196|   3.5|1225735441|
|     1|   1200|   3.5|1225735861|
|     1|   1210|   4.5|1225735210|
|     1|   1214|   4.0|1225736426|
|     1|   1291|   5.0|1225734809|
|     1|   1293|   2.0|1225733842|
|     1|   1376|   3.0|1225733539|
|     1|   1396|   3.0|1225733534|
|     1|   1537|   4.0|1225736687|
|     1|   1909|   3.0|1225733717|
+------+-------+------+----------+
only showing top 20 rows

In [12]:
from IPython.display import Markdown, display

display(Markdown("## Grouping the values with highest rating"))

## Grouping the values with highest rating

In [36]:
df_ratings.groupBy("movieId").count().orderBy("count",ascending=False).show(10)

+-------+------+
|movieId| count|
+-------+------+
|    318|122296|
|    356|113581|
|    296|108756|
|   2571|107056|
|    593|101802|
|    260| 97202|
|   2959| 86207|
|    527| 84232|
|    480| 83026|
|   1196| 80200|
+-------+------+
only showing top 10 rows

In [13]:
display(Markdown("## Retrieving the movie names using broadcast variables "))

## Retrieving the movie names using broadcast variables

In [17]:
movie_dict = dict(df_final.rdd.map(lambda x: (x['movieId'], x['title'])).collect())

In [18]:
movie_b = spark.sparkContext.broadcast(movie_dict)

In [39]:
from pyspark.sql import Row

ratings_with_names_rdd = df_ratings.rdd.map(
    lambda row: Row(
        user_id=row['userId'],
        movie_id=row['movieId'],
        rating=row['rating'],
        date=row['date'],
        movie_name=movie_b.value.get(row['movieId'], 'Unknown')
    )
)

In [40]:
df_final_ratings_withnames = spark.createDataFrame(ratings_with_names_rdd)

In [42]:
df_final_ratings_withnames.groupBy("movie_id","movie_name").count().orderBy("count",ascending=False).show(20)

+--------+--------------------+------+
|movie_id|          movie_name| count|
+--------+--------------------+------+
|     318|Shawshank Redempt...|122296|
|     356|        Forrest Gump|113581|
|     296|        Pulp Fiction|108756|
|    2571|         Matrix, The|107056|
|     593|Silence of the La...|101802|
|     260|Star Wars: Episod...| 97202|
|    2959|          Fight Club| 86207|
|     527|    Schindler's List| 84232|
|     480|       Jurassic Park| 83026|
|    1196|Star Wars: Episod...| 80200|
|    4993|Lord of the Rings...| 79940|
|       1|           Toy Story| 76813|
|    1210|Star Wars: Episod...| 76773|
|     110|          Braveheart| 75514|
|    7153|Lord of the Rings...| 75512|
|    1198|Raiders of the Lo...| 75248|
|     858|      Godfather, The| 75004|
|    5952|Lord of the Rings...| 73687|
|      50| Usual Suspects, The| 72893|
|     589|Terminator 2: Jud...| 71820|
+--------+--------------------+------+
only showing top 20 rows